<div class="container">
    <div class="card">
        <form class="formulario" [formGroup]="formulario" (ngSubmit)="onSubmit()">

            <h3 class="title">Add a new Band:</h3>

            <div class="form-group m-3">
                <input type="text" class="form-control shadow-sm p-1 bg-white rounded" formControlName="name"
                    placeholder="Band name">
            </div>

            <div class="form-group m-3">
                <input type="text" class="form-control shadow-sm p-1 bg-white rounded" formControlName="members"
                    placeholder="Band members">
            </div>
            <label class="label">Band image:</label>
            <div class="form-group m-3">
                <input type="file" class="form-control shadow-sm p-1 bg-white rounded" formControlName="img"
                    title="Choose a video please">
            </div>
            <label class="label">Band icon:</label>
            <div class="form-group m-3">
                <input type="file" class="form-control shadow-sm p-1 bg-white rounded" formControlName="icon"
                    placeholder="Band icon">
            </div>
            <div class="form-group m-3">
                <input type="text" class="form-control shadow-sm p-1 bg-white rounded" formControlName="country"
                    placeholder="Band country">
            </div>
            <div class="form-group m-3">
                <input type="text" class="form-control shadow-sm p-1 bg-white rounded" formControlName="web"
                    placeholder="Band website">
            </div>
            <div class="form-group m-3">
                <input type="text" class="form-control shadow-sm p-1 bg-white rounded" formControlName="origin"
                    placeholder="Band origin">
            </div>
            <div class="form-group m-3">
                <input type="text" class="form-control shadow-sm p-1 bg-white rounded" formControlName="genres"
                    placeholder="Band genres">
            </div>
            <div class="form-group m-3">
                <input type="text" class="form-control shadow-sm p-1 bg-white rounded" formControlName="years"
                    placeholder="Band active years">
            </div>
            <div class="form-group m-3">
                <input type="text" class="form-control shadow-sm p-1 bg-white rounded" formControlName="description"
                    placeholder="Band short description">
            </div>
            <div class="form-group m-3">
                <input type="text" class="form-control shadow-sm p-1 bg-white rounded" formControlName="video"
                    placeholder="Band video (url)">
            </div>

            <input type="submit" class="btn btn-block btn-info mb-3 " value="Enviar">
        </form>

    </div>

</div>