<header>
    <div class="spacer"></div>
    <nav class="header">
        <ul class="menu-4">
            <li class="current"><a [routerLink]="['']" data-hover="List">List</a></li>
            <li><a [routerLink]="['new']" data-hover="Add Band">Add Band</a></li>
            <li><a href="#" data-hover="Blog">Blog</a></li>
            <li><a href="#" data-hover="Services">Services</a></li>
            <li><a href="#" data-hover="Products">Products</a></li>
            <li><a href="#" data-hover="Contact">Contact</a></li>
        </ul>
    </nav>
    <hr class="clearfix w-60 pb-1 m-1">
    <div class="spacer"></div>

</header>