<div class="bands">
    <div class="band" *ngFor="let band of arrRockBands" [routerLink]="['/band', band.id, 'albums']">
        <h2 class="band-name">{{band.name}}</h2>
        <img [src]="band.img">
        <div class="country d-flex justify-content-between align-items-baseline">
            <p>{{band.country}}</p>

            <div class="img-flag" [ngSwitch]="band.country">
                <img src="../../../assets/images/flags/UK_flag.png" *ngSwitchCase="'United Kingdom'"
                    style="transform: scale(0.2); height: 100px;">
                <img src="../../../assets/images/flags/USA_flag.jpg" *ngSwitchCase="'United States'"
                    style="transform: scale(0.2); height: 100px;">
                <img src="../../../assets/images/flags/AU_flag.png" *ngSwitchCase="'Australia'"
                    style="transform: scale(0.2); height: 100px;">
            </div>

        </div>
        <p>{{band.members}}</p>
        <p>{{band.id}}</p>
    </div>
</div>