<footer class=" bg-dark page-footer font-small blue pt-4">
    <div class="container">

        <div class="container-fluid text-center text-md-left" id="contact">
            <div class="row">
                <div class="col-md-4 mt-md-0 mt-3">
                    <p class="text-uppercase">Links</p>
                    <p class="link"><a class="enlace" href="https://github.com/MS2020-ms">Github</a></p>
                    <p class="link"><a class="enlace" href="https://www.linkedin.com/in/miguel-soto-arrojo">LinkedIn</a>
                    </p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-1">
                <div class="col-md-4 mb-md-0 mb-3">
                    <p class="text-uppercase">Social Media</p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none pb-1">
                <div class="col-md-4 mb-md-0 mb-3">
                    <p class="text-uppercase">Contact <i class="far fa-envelope"></i></p>
                    <address>
                        <a [routerLink]="['mailto:contacto@example.com']">msotomail@gmail.com</a><br>
                        Tlf.: 655 618 138<br>
                        Address:<br>
                        Madrid
                    </address>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© Angular Rocks 2020 | Author: Miguel Soto |
            <a href="https://kubide.es/" class="ml-2"> Kubide</a>
        </div>
    </div>
</footer>